<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container">
        <h1 class="text-center mt-5"> Home page</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quaerat, quis. At commodi deserunt dicta dolorem explicabo illo illum, ipsa laudantium, minima nam omnis porro quia quos ratione reprehenderit sed!</span><span>Ab, aperiam culpa cupiditate, dicta dignissimos distinctio dolor eveniet fuga fugit iure laudantium libero maxime modi molestiae non perferendis porro provident quia quisquam repudiandae sint suscipit veniam veritatis! Aliquam, officiis.</span><span>Aliquam culpa dicta quidem? Ad beatae blanditiis, consequuntur debitis eos error fugit hic ipsam iste labore minus molestiae, numquam, obcaecati quam quia quidem reprehenderit soluta totam ullam ut vero vitae!</span>
        </p>
    </div>
</main>


</body>
</html>